<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2016
  ~ Created by: icare-baonq
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Icare_Gps::sales_gps" title="iCare GPS" sortOrder="10" >
                        <resource id="Icare_Gps::gps" title="iCare Gps" sortOrder="40">
                            <resource id="Icare_Gps::save" title="Save iCare Gps" sortOrder="10" />
                            <resource id="Icare_Gps::gps_delete" title="Delete iCare Gps" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>