<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2016
  ~ Created by: nhan_nguyen
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:icare:framework:Module/etc/module.xsd">
    <module name="Icare_Deposit" setup_version="1.0.3">
    </module>
</config>
