<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2016
  ~ Created by: icare-baonq
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Backend\Block\System\Store\Edit\Form\Store" type="Icare\Store\Block\System\Store\Edit\Form\Store"/>
    <preference for="Magento\Store\Model\System\Store" type="Icare\Store\Model\Store"/>

</config>

